.functionBox {
  border:1px solid #5bc0de;
  margin:3px;
  padding:4px;
}

.results {
  width: 700px;
}

.hash {
  width: 350px;
}

.contract {
  width:700px;
  height:100px;
}

.kill-box {
  margin-top: 10px;
}
